---
import ArrowBack from "../components/arrow-back.astro";
import BackgroundDots from "../components/background-dots.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <p class="font-handwriting text-gray-800">404 page not found</p>
</Layout>
