---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jordi's website">
  <p class="text-gray-800">
    Hi! I'm Jordi, a software engineer and designer. I'm passionate about
    creating beautiful and functional software.
  </p>
</Layout>
