---
import { ArrowUpRight } from "lucide-astro";
import Layout from "../layouts/Layout.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
---

<Layout title="Jordi's zone">
  <div class="w-2/3">
    <p class="text-brand-white/60">
      I am a frontend developer with a passion for creating, exploring, and
      learning new things. Currently, I work at Ticketdoor as a frontend
      developer and I have a keen interest in design, <span
        class="inline-block"
      >
        <a href="/photography" class="underline text-brand-orange w-fit flex"
          >photography <ArrowUpRight size="12" /></a
        >
      </span> and music.
    </p>
  </div>
  <div class="mt-6">
    <ul class="flex space-x-4">
      <li>
        <a
          href="https://github.com/jordizone"
          class="hover:underline hover:text-brand-orange transition-all"
          target="_blank"
          rel="noopener noreferrer">Github</a
        >
      </li>
      <li>
        <a
          href="https://x.com/jordizone"
          class="hover:underline hover:text-brand-orange transition-all"
          target="_blank"
          rel="noopener noreferrer">Twitter</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/jordicapelladesedo/"
          class="hover:underline hover:text-brand-orange transition-all"
          target="_blank"
          rel="noopener noreferrer">LinkedIn</a
        >
      </li>
    </ul>
  </div>
  <!-- <div>
    <h2 class="font-medium mt-8 mb-4">Latest posts</h2>
    <ul class="text-sm">
      {
        allPosts.map((post: any) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </div> -->
</Layout>
