---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <h1>Jordi</h1>
  </main>
</Layout>
