---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Photography">
  <h1 class="font-medium mb-6 text-sm">Photography</h1>
  <div class="w-2/3">
    <p class="text-neutral-500 text-sm">
      I have been taking photos for a long time now. I love to capture moments
      and share them with the world. Here are some of my favorite shots.
    </p>
  </div>
</Layout>
