<div
  class="pointer-events-auto flex relative items-center mb-4 bg-blue-500 gap-2 sm:rounded-xl sm:py-3 sm:pl-4 sm:pr-3.5"
>
  <div
    class="flex bg-grainy-noise top-0 left-0 w-full h-full absolute opacity-40 rounded-xl"
  >
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    class="size-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"
    ></path>
  </svg>

  <p class="text-sm leading-6 text-white font-bold z-10">
    Work in progress! This website is still under construction.
  </p>
</div>
