<div
  class="pointer-events-auto flex relative items-center mb-4 bg-teal-500 justify-between sm:rounded-xl sm:py-3 sm:pl-4 sm:pr-3.5"
>
  <div
    class="flex bg-grainy-noise top-0 left-0 w-full h-full absolute opacity-30 rounded-xl"
  >
  </div>
  <p class="text-sm leading-6 text-white font-bold z-10">
    Work in progress! This website is still under construction.
  </p>
</div>
