---
import { TextLoopBasic } from "@/components/text-loop-basic";
import "@/styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;

const urls = [
  {
    url: "/",
    title: "Home",
  },
  {
    url: "/blog",
    title: "Blog",
  },
  {
    url: "/work",
    title: "Work",
  },
  {
    url: "/projects",
    title: "Projects",
  },
];

const year = new Date().getFullYear();
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jordi's website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸŠ" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,500;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="p-4 antialiased bg-brand-white dark:text-brand-white text-neutral-900 dark:bg-brand-black pt-40 selection:bg-brand-orange/10 selection:text-brand-orange/90"
  >
    <header class="max-w-screen-sm mx-auto">
      <a href="/" class="font-medium hover:underline transition-all"
        >Jordi Capellades</a
      >
    </header>
    <main class="max-w-screen-sm mx-auto mt-6">
      <slot />
    </main>
    <footer class="fixed bottom-0 mx-auto w-full px-4">
      <div
        class="max-w-screen-sm mx-auto py-4 border-t border-neutral-200 dark:border-neutral-700"
      >
        <TextLoopBasic client:load />
      </div>
    </footer>
  </body>
</html>
